.Menu{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &-line{
        width: 100%;
        height: 7.5px;
        background-color: #fff;
        border-radius: 10px;
    }
    &-active{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        &-inner{
            width: max-content;
            position: relative;
            left: 0;
            height: 100vh;
            padding: 15px 45px;
            color: #fff;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: var(--main-color);
            &-item{
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 7.5px; 
    
            }
        }
    }
}